.themepicker-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 15vmin;
  width: 40vw;
  z-index: 45;
  margin-left: 60vw;
}

.menu {
  font-style: italic;
  font-weight: 500;
  font-size: 3vmin;
}

.menu-label {
  font-size: 3vmin;
  font-weight: 300;
}

.theme-picker-profile-crop {
  border-radius: 50%;
  width: 10vmin;
  height: 10vmin;
  margin: 2vmin;
  overflow: hidden;
}
