p.kraken,
a.kraken,
select.kraken {
  font-family: 'Raleway', sans-serif;
}

h1.kraken,
h2.kraken,
h3.kraken {
  font-family: 'Metal Mania', cursive;
  color: #8c0d2f;
}

.main-content.kraken {
  background-image: linear-gradient(to bottom, #6fb1bf, #011526);
}

.bio.kraken {
  background-color: rgba(156, 217, 217, 0.3);
}

.navbar-grid.kraken {
  background-color: #bd5568;
}

.navbar-grid.kraken a {
  color: #8c0d2f;
}

.navbar-grid.kraken a:hover {
  color: #fff;
}

.menu-label.kraken {
  color: #011526;
}

.menu.kraken {
  color: #8c0d2f;
  background-color: #6fb1bf;
  border-color: #8c0d2f;
  border-width: 0;
}

.title-box.kraken {
  background-color: rgba(156, 217, 217, 0.5);
  border-radius: 7px;
  padding: 0.5vw;
}

.home-background.kraken {
  background-image: linear-gradient(to bottom, #6fb1bf, #011526);
}

.about-content.kraken h1 {
  font-size: 20vmin;
  margin-left: -3vw;
}

.title-box.kraken h1 {
  font-weight: bold;
  font-size: 10vmin;
}

.theme-picker-profile.kraken {
  background-color: rgba(189, 85, 104, 0.7);
  background-image: url('../../Mascots/Dragon.png');
  width: 40vmin;
  height: 40vmin;
  margin: -16vmin -5vmin 0 0;
}

.theme-picker-profile-crop.kraken {
  border: 2px solid #011526;
}
