p.phoenix,
a.phoenix,
select.phoenix {
  font-family: 'Ubuntu', sans-serif;
}

h1.phoenix,
h2.phoenix,
h3.phoenix {
  font-family: 'Akronim', cursive;
  color: #f2db2e;
}

.main-content.phoenix {
  background-image: linear-gradient(to bottom, #7e6147, #f54b22);
}

.bio.phoenix {
  background-color: rgba(245, 185, 34, 0.3);
}

.navbar-grid.phoenix {
  background-color: #e7893f;
}

.navbar-grid.phoenix a {
  color: #f2db2e;
}

.navbar-grid.phoenix a:hover {
  color: #fff;
}

.menu-label.phoenix {
  color: #f2db2e;
}

.menu.phoenix {
  color: #f2db2e;
  background-color: #e7893f;
  border-color: #7e6147;
  border-width: 0;
}

.title-box.phoenix {
  background-color: rgba(126, 97, 71, 0.5);
  border-radius: 7px;
  padding: 0.5vw;
}

.home-background.phoenix {
  background-image: linear-gradient(to bottom, #7e6147, #f54b22);
}

.about-container h1.phoenix {
  color: #ffab24;
}

.about-content.phoenix h1 {
  font-size: 22vmin;
  margin-left: -3vw;
}

.home-mascot.phoenix {
  background-image: url('../../Mascots/Phoenix.svg');
}

.title-box.phoenix h1 {
  font-size: 10vmin;
}

.title-box.phoenix h2 {
  font-size: 5vmin;
}

.theme-picker-profile.phoenix {
  background-color: rgba(245, 185, 34, 0.7);
  background-image: url('../../Mascots/Phoenix.svg');
  width: 40vmin;
  height: 40vmin;
  margin: -7vmin 0 0 -13vmin;
  transform: scaleX(-1);
}

.theme-picker-profile-crop.phoenix {
  border: 2px solid #f54b22;
}
