.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    '. . .'
    '. content .';
  height: 100vh;
  position: relative;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0);
}

.home-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  grid-area: 'content';
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.title-box {
  text-align: center;
  box-shadow: 0 10px 10px -10px;
}

.welcome {
  text-align: center;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 300;
}

.welcome:hover {
  cursor: pointer;
}

.welcome p {
  margin-bottom: 0;
}

.home-mascot {
  position: absolute;
  opacity: 80%;
  width: 100vw;
  height: 100vh;
}
