.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 'mascots . links';
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.mascots {
  grid-area: mascots;
}

.flex-container {
  grid-area: links;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-align: center;
}
