.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 'mascots . links';
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 12.5vh;
  z-index: 15;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

.mascots {
  grid-area: mascots;
}

.mascot-1 {
}

.mascot-2 {
  transform: rotateZ(180deg);
}

.nav-flex-container {
  grid-area: links;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-grid a {
  font-weight: 300;
}
