.navbar-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'links .';
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 15vmin;
  z-index: 15;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-flex-container {
  grid-area: links;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-grid a {
  font-weight: 300;
  font-size: 3vmin;
}
